body{
	background-image: none;
	transition: background-image 0.1s linear;
}

@font-face{
	font-family: "Linotype Didot Oldstyle Figures Roman";
	src: url('../fonts/Linotype Didot Oldstyle Figures Roman.otf');
}


#loading{
	background-color: white;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 20px;
	width: 100px;
	margin-top: -10px;
	margin-left: -50px;

}
.object{
	width: 20px;
	height: 20px;
	background-color: #333;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	margin-right: 20px;
	margin-bottom: 20px;
	position: absolute;	
}


#object_one{
	-webkit-animation: object 2s linear infinite;
	 animation: object 2s linear infinite;
	 }
#object_two{ 
	-webkit-animation: object 2s linear infinite -.4s;
	animation: object 2s linear infinite -.4s;
	 }
#object_three{ 
	-webkit-animation: object 2s linear infinite -.8s; 
	animation: object 2s linear infinite -.8s; 
	}
#object_four{ 
	-webkit-animation: object 2s linear infinite -1.2s;
	animation: object 2s linear infinite -1.2s; 
	} 
#object_five{ 
	-webkit-animation: object 2s linear infinite -1.6s; 
	animation: object 2s linear infinite -1.6s; 
	}
	
	
@-webkit-keyframes object{
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }		
	
}		
@keyframes object{
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }
}	
	
	


/*.navbar-brand{
	padding: 0px;
	padding-top: 5px;
}

.navbar-brand>img{
	width: 60px;
}

.navbar-default{
	background-color: rgba(255,255,255,0.85);
	border-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	padding-top: 9px;
	padding-bottom: 12px;
	border-color: transparent;
}
*/
header{
	text-align: center;
	opacity: 0;
	background: url("../images/watercolor.png") no-repeat center; 
	height: 90vh;
	font-family: "Cardo",serif;
}

header p{
	letter-spacing: 4px;
	font-size: 15px;
	font-weight: bold;
}

header h2{
	font-size: 40px;
	font-family: "Montserrat",sans-serif;
	letter-spacing: 15px;
}

#bg{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	background: url("../images/me-paint.png")  no-repeat center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}

#for-work{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	background: url("../images/me-work-1.png") no-repeat center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}

#for-contact{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	background: url("../images/contact.png") no-repeat center;
/*	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
*/
}

#go-back{
	position: fixed;
	left: 3%;
	display: block;
	z-index: 1;
}

#go-back button{
	padding: 30%;
	background-color: white;
	border: 1px solid #DBDBDB;
	opacity: 0.5;
	transition: opacity 0.5s;
	transition: background-color 0.5s;
	font-size: 20px;
}

#go-back a{
	color: #333;
}

#go-back button:hover{
	opacity: 1;
}


.main-title{
	padding-top: 15%;
	opacity: 0;
}

/*.navbar-default .navbar-nav>li>a{
	font-family: "Montserrat", sans-serif;
	color: #737171;
	font-size: 14px;
	transition: color 0.5s ease;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #423E3E;
}
*/
#my-logo{
	width: 100px;
}

.main-title li{
	display: inline;
	padding-right: 5%;
	font-size: 17px;
	letter-spacing: 3px;
	font-weight: bold;
}

.main-title ul{
	margin-top: 4%;
}

.main-title a{
	color: #333;
	transition: color 0.5s ease;
	text-decoration: none;
}

.main-title a:hover{
	color: #333;
}

.work-title{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	background: url("../images/blue-stroke.gif") no-repeat center;
	background-size: 400px;
	background-position-y: -30px; 
}


.work-title h2{
	font-family: "Montserrat", sans-serif;
	letter-spacing: 10px;
	font-weight: 400;
	font-size: 35px;
	margin-top: 15px;
	opacity: 0;
}

#work-logo{
	width: 70px;
	opacity: 0px;
}


@media screen and (max-width: 980px){


		.work-display{

			margin-top: 350px;
		}


}

.small-col{
	width: 8px !important;
}

.stroke img{
	width: 100px;
}


.work-image{
	background-color: #EBEBEB;
	height: 300px;
	width: 100%;
	margin-bottom: 30px;
}
/*
 .container>.row>.col-md-4:nth-child(2)>.work-image{
	background:url("../images/logo/");
}*/


.logo {
	display: block;
	height: auto;
	opacity: 1;
	transition:opacity 0.5s ease; 
}

.web {
	display: block;
	height: auto;
	opacity: 1;
	transition:opacity 0.5s ease; 
}

.print{
	display: block;
	height: auto;
	opacity: 1;
	transition:opacity 0.5s ease; 
}

.logo:hover {
	opacity: 0.3;
}

.print:hover {
	opacity: 0.3;
}

.web:hover {
	opacity: 0.3;
}

.display {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border:1px solid #EBEBEB;
}

.display::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.display:hover::before {
    background: rgba(255, 255, 255, 0.9);
}

.caption{
	position: absolute;
	top: 20%;
	width: 100%;
	text-align: center;
	transition: opacity 0.5s ease;
	opacity: 0;
	font-family: "Cardo",serif;
	text-align: center;
}

.caption h3{
	font-size: 40px;
}

.display:hover .caption{
	opacity: 1;
}

.menu{
	opacity: 0;
}




/*.logo-design{
	display: block;
}

.website{
	display: block;
}

.print-design{
	display: block;
}



*/


footer{
	opacity: 0;
	text-align: center;
}

footer h3{
	font-family: "Oxygen", sans-serif;
	font-size: 17px;
}

footer li{
	display: inline;
	padding-right: 15px;
}

footer img{
	width: 45px;
}

#about{
	height: 70vh;
}

#about-bg {
	background: url("../images/about-bg-1.png") no-repeat center; 
	opacity: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;	
}



.bold{
	font-weight: bold;
}

#about p{
	font-family: "Cardo",serif;
	font-size: 15px;
	padding: 2%;
	line-height: 25px;
}

#about h2{
	/*background: url("../images/blue-stroke.gif") no-repeat;*/
	background-size: 300px;
	background-position-y: -15px; 
	padding: 2%;
	font-family: "Montserrat",sans-serif; 
	font-size: 25px;
	letter-spacing: 	5px;
	margin-top: 35px;
}


#footer-logo{
	width: 80px;
	opacity: 0.3;
}

.work-title li{
	display: inline;
	padding-right: 60px;
	font-family: 'Linotype Didot Oldstyle Figures Roman',serif; 
	font-weight: bold;
}

.work-title a{
	text-decoration: none;
	color: #333;
}

.work-title ul{
	margin-top: 30px;
	opacity: 0;
}

@media screen and (max-width: 960px){

		.main-title{
		padding-top: 50%;
	}
		header h2{
			letter-spacing: 12px;
		}

		#about{
		height: 80vh;
	}
}

@media screen and (max-width: 780px){
 
	#about{
		height: 125vh;
	}

	.main-title{
		padding-top: 60%;
	}	

	.bg{
		background-size: 100%;
	}

	.work-title li{
		margin: 0 auto;
		display: block;
	}
		header h2{
			letter-spacing: 12px;
			font-size: 30px;
		}

		header {
			margin-bottom: 100px;
		}

		.main-title li{
			display: block;
			padding-bottom: 10px;
		}

		.main-title ul{
			padding: 0;
		}
		footer img{
			width: 35px;
		}
	/*footer img{
	width: 5%;
	}
*/
}







body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

/*.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}*/
   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #333;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
    padding-top: 35px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
 	
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
  /*  background-color: #222;*/
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 55px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 45px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #525252;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}


.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;
}


.col-center{
	margin:	0 auto;
	display: block;
	float: none;
}

#portfolio-image{
	text-align: center;
}

#portfolio-image h2{
	/*font-family: 'Linotype Didot Oldstyle Figures Roman',serif;*/
	font-family: "Montserrat",sans-serif;
	letter-spacing: 10px;
	font-weight: bold;
	margin-top: 65px;
	font-size: 40px;
}

#portfolio-image img{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}


#portfolio-image p{
	/*font-family: "Oxygen", sans-serif;*/
	font-family: "Cardo",serif;
	font-size: 17px;
	padding: 2%;
	line-height: 29px;
}

#portfolio-image h4{
	/*font-family: "Oxygen", sans-serif;*/
	font-family: "Cardo",serif;
	font-size: 17px;
	font-style: italic;
	line-height: 29px;
}


#portfolio-bg {
	/*background: url("../images/misc-bg.png") no-repeat center; */
	opacity: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;	
	padding-bottom: 150px;
}


ul{
	text-align: center;
}

.ux-content p{
	text-align: left;	
	font-family: "Cardo",serif;
	font-size: 17px;
	padding: 2%;
	line-height: 29px;
}
.ux-content ul{
	text-align: left;	
	font-family: "Cardo",serif;
	font-size: 17px;
	padding: 2%;
	line-height: 29px;
}


.ux-content h3{
	font-family: "Montserrat",sans-serif;
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 17px;
}

.ux-content i{
	font-size: 20px;
}